<h2>Stage Name: <%= @stage.name %></h2>

<h3>Location: <%= @stage.location %></h3>

<h4>Heres the artist that are at this stage<h4>

<% if @stage.artists %>
  <ul>
    <% @stage.artists.each do |artist| %>
      <li><a href="/stages/<%= @stage.id %>/artists/<%= artist.id %>"><%= artist.name %>   Playing at:   <%= artist.time[12...16] %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>No artists playing</p>
<% end %>

<form action="/stages/<%= @stage.id %>/artists" method="post">
  <div class="form-group">
    <label for="artist_name">artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
    
    <label for="artist_time">artist time</label>
    <input type="datetime-local" id="meeting-time" name="artist_time" value=""> 
  
  </div>
  <button type="submit" class="btn">Add artist</button>
</form>

<a href="/stages">Back to stages</a>